#nav1
{
    color: white;
    background: var(--unnamed-color-253d8a) 0% 0% no-repeat padding-box;
    background: #253D8A 0% 0% no-repeat padding-box;
    width: 1366px;
    height: 60px;
}

#nav2
{
    //width: 1366px;
    height: 80px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

#contact
{
    //top: 10px;
    //left: 918px;
    //width: 100px;
    //height: 40px;
    border: 1px solid var(--unnamed-color-ffffff);
    border: 1px solid #FFFFFF;
    border-radius: 73px;
    opacity: 1;
}

#recrutement
{
    //top: 10px;
    //left: 1033px;
    //width: 120px;
    //height: 40px;
    border: 1px solid var(--unnamed-color-ffffff);
    border: 1px solid #FFFFFF;
    border-radius: 73px;
    opacity: 1;
}

#imgFrance
{
    width: 40px;
    height: 30px;
}

#search
{
    //top: 10px;
    //width: auto;
    //height: auto;
    border: 1px solid var(--unnamed-color-ffffff);
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    opacity: 1;
}



#prisma
{
    top: 70px;
    left: 81px;
    width: 222px;
    height: 40px;
    opacity: 1;
}

a:hover
{
    background-color: #30C4CA;
}

.rounded-pill
{
    background-color: #30C4CA;
    color: white;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 15px/25px var(--unnamed-font-family-hind-siliguri);
    letter-spacing: var(--unnamed-character-spacing-0);
    height: 50px;
}

#ref1
{
    width: 136px;
}

#ref2
{
    width: 236px;
}